@page
@model CabinetVeterinar.Pages.Cabinets.ShowVetAnimalsModel

@{
    ViewData["Title"] = "ShowVetAnimals";
}

<h1>Animals of Vet - @Model.Vet.Name</h1>

<p>
    <a asp-page="Index">Back to Cabinets</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Species</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model.Animals)
        {
            <tr>
                <td>@animal.Name</td>
                <td>@animal.Species</td>
            </tr>
        }
    </tbody>
</table>